name: build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, ubuntu-22.04, macos-14, macos-14-large]

    steps:
      - uses: actions/checkout@v6

      - name: Setup config
        if: matrix.os == 'windows-2022'
        run: echo "[build]`ncompiler = mingw32" | Out-File -FilePath setup.cfg

      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - uses: msys2/setup-msys2@v2
        if: matrix.os == 'windows-2022'
        with:
          update: true
          install: mingw-w64-x86_64-gcc

      - name: Set path
        if: matrix.os == 'windows-2022'
        run: echo "$env:RUNNER_TEMP\msys64\mingw64\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_SKIP: pp*
          CIBW_ARCHS: auto64

      - name: Display wheels
        run: ls -l wheelhouse

      - name: Upload wheels to artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        name: Install Python
        with:
          python-version: "3.10"

      - name: Build sdist
        run: python setup.py sdist

      - name: Display dist
        run: ls -l dist

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-source
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    steps:
      - uses: actions/download-artifact@v5
        with:
          pattern: artifact-*
          merge-multiple: true
          path: dist

      - run: ls -l dist/

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
